<html lang="en">
  <head>
    <title>theChatterBox</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <header>
      <h1>theChatterBox</h1>
      <h1>Hello {{request.user.username}}</h1>
      <ul>
        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
      </ul>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
