{% extends 'chats/base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
  <form action="{% url 'chats:add_comment' object.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="text">
      <button class="btn btn-success">Add Comment</button>
    </form>
  </div>
<h1>{{object.title}}</h1>
{% for comment in object.comment_set.all %}
  <div class="jumbotron">
    <p>{{comment.created_by}} thinks </p>
    <p>{{comment.text}}</p>
    {% ifequal comment.created_by user %}
      <a href="{% url 'chats:delete'  comment.id %}"><button class="btn btn-danger">Remove this comment</button></a>
    {% endifequal %}
  </div>
{% endfor %}
{% endblock %}
